
.contact-container {
    padding: 50px 0;
   }
   .contact-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-box h2 {
    font-weight: bold;
  }
  
  .contact-box p {
    font-size: 1.1rem;
    color: #555;
  }
  .contact-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  .contact-box button {
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .contact-box button:hover {
    background-color: #3c793aa1 !important;
  }
  